---
// eslint-disable-next-line no-console
console.log("[debug.astro] Rendering simple, static HTML response");
---
<!doctype html>
<html lang="en">
  <head>
    <title>Debug Page</title>
  </head>
  <body>
    <h1>It works! Plain HTML.</h1>
  </body>
</html>
